<h3><i class="fa fa-book-reader"></i>Story Books</h3>
<div class="section">
    <p class="lead">create public and private stores from your life</p>
</div>
<div class="divder">
    <a href="/auth/google" class="btn red darker-1">
    <i class="fab fa-google left"></i>Log in with google</a>
</div>